.header__subtitle {
  left: 64px;
  max-width: 388px;
  bottom: 30px;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  z-index: 2;
  position: absolute;
  color: black;
  margin: 0 auto;
}
