.header__title {
  font-size: 102px;
  line-height: 96px;
  font-weight: 600;
  max-width: 730px;
  margin-left: 64px;
  z-index: 2;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  color: black;
}
